<div class="container-view">
  <div class="content-view" *ngIf="!id">
    <div class="header">
      <div class="header-left">
        <h1>Explore Documentações</h1>
        <p>Total de posts: 3</p>
      </div>
      <div class="header-right">
        <input type="text" placeholder="Pesquisar documentos">
        <i class="bi bi-search" (click)="getFiltered()"></i>
      </div>
    </div>
    <div class="content-card" [ngClass]="{'flex': model.length < 3}">
      <alef-card-list-view *ngFor="let item of model"
        [card]="{
          title: item.title,
          imgPost: item.imgPost,
          imgProfile: item.imgProfile,
          nameUser: item.nameUser,
          uuid: item.uuid
        }"
      ></alef-card-list-view>
      </div>
  </div>

  <div *ngIf="id" [innerHTML]="model[0]?.conteudo"></div>
</div>
