.navbar {
  width: calc(100% - 300px);
  height: 70px;
  background-color: var(--background);
  position: fixed;
  border-bottom: thin solid var(--nav-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 10000;
}

.url {
  width: 60%;
  display: flex;
}
.url div {
  display: flex;
}

.url div .url-item {
  color: var(--text-brightness);
}

.url div:first-child {
  display: none;
}

.url-bar {
  margin: 0 10px;
}
