<div class="container-login">

  <body class="align">

    <div class="grid">


      <form class="form login" (ngSubmit)="login()" [formGroup]="form" #f="ngForm" novalidate>
        <div class="form__field">
          <span>E-mail</span>
          <div class="form__group">
            <label for="login__username">
              <i class="bi bi-person" style="color: white;"></i>
              <span class="hidden">Username</span></label>
            <input autocomplete="nope" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" type="email"
              name="email" class="form__input" placeholder="example@example.com" formControlName="email" required>
          </div>
          <div
            *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)">
            <small class="small-danger">É necessário informar um e-mail válido</small>
          </div>
        </div>

        <div class="form__field" *ngIf="createAccount">
          <span>Nome de usuário</span>
          <div class="form__group">
            <label for="login__username">
              <i class="bi bi-person" style="color: white;"></i>
            </label>
            <input autocomplete="nope" id="displayName" type="text"
              name="displayName" class="form__input" placeholder="Nome usuário" formControlName="displayName"  [required]="createAccount === true">
          </div>
          <div
            *ngIf="form.controls['displayName'].invalid && (form.controls['displayName'].dirty || form.controls['displayName'].touched)">
            <small class="small-danger">O nome de usuário não pode ser vazio</small>
          </div>
        </div>

        <div class="form__field" *ngIf="createAccount">
          <span>Avatar URL</span>
          <div class="form__group">
            <label for="login__username">
              <i class="bi bi-person" style="color: white;"></i>
            </label>
            <input id="photoURL" type="url"
              name="photoURL" class="form__input" placeholder="https://stackoverflow.com/img.png" formControlName="photoURL" pattern="https?:\/\/(\S+)*.(jpe?g|png|svg)$" [required]="createAccount === true">
          </div>
          <div
            *ngIf="form.controls['photoURL'].invalid && (form.controls['photoURL'].dirty || form.controls['photoURL'].touched)">
            <small class="small-danger">Formatos suportados (jpeg | svg | png)</small>
          </div>
        </div>

        <div class="form__field">
          <span>Senha</span>
          <div class="form__group">
            <label for="login__password">
              <i class="bi bi-key" style="color: white;"></i>
              <span class="hidden">Password</span></label>
            <input id="login__password" autocomplete="off" autocomplete="nope" type="password" name="password" class="form__input" placeholder="Senha"
              formControlName="password" required>
          </div>
          <div
            *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)">
            <small class="small-danger">A senha deve ser maior que 6 caracteres</small>
          </div>
        </div>

        <div *ngIf="accessDenied">
          <small class="small-danger text-align-center">O E-mail ou Senha é inválida!</small>
        </div>

        <div *ngIf="(f.submitted && form.invalid) || messageError">
          <small class="small-danger text-align-center">{{ messageError ? messageError : 'Preencha todos os campos'}}</small>
        </div>

        <div *ngIf="messageSuccess && f.submitted">
          <small class="small-success text-align-center">{{ messageSuccess }}</small>
        </div>

        <div class="align-center" *ngIf="loading">
          <alef-loading></alef-loading>
        </div>

        <div class="form__field align-center">
          <input type="submit" [value]="createAccount? 'Criar Conta' : 'Entrar'">
        </div>
      </form>

      <p class="text--center">
        {{ createAccount? 'Já possuí uma conta? ': 'Não possui uma conta?'}}
        <a (click)="createAccount = !createAccount; messageError = '' " style="cursor: pointer;">
          {{createAccount ? 'Entrar em uma conta!' : 'Criar conta agora!'}}
        </a>
      </p>
    </div>
  </body>
</div>
