<div class="container-home">
  <div class="content-home">
    <div class="profile">
      <div class="d-grid-profile shadow">
        <div class="user-profile">
          <img class="img-profile" src="https://github.com/Olafi-MooN.png"/>
          <div class="content-text">
            <p>Seja bem vindo!</p>
            <p>Olafi-MooN</p>
          </div>
        </div>
        <div class="user-profile-action">
            <div class="user-profile-action-left">Editar posts</div>
            <div class="user-profile-action-right"><strong>0</strong> Posts</div>
        </div>
      </div>
    </div>
    <div class="content-left">
      <div class="main-left shadow"  [routerLink]="['/create']">
        <div class="blur"></div>
        <div class="block-circle"></div>
        <div class="content-left-text">
          <h2><strong>Criar</strong></h2>
          <h3>Nova postagem</h3>
        </div>
      </div>
    </div>
    <div class="content-right">
      <div class="main-right shadow" [routerLink]="['/view']">
        <div class="blur"></div>
        <div class="block-circle"></div>
        <div class="content-left-text">
          <h2><strong>Explorar</strong></h2>
          <h3>Todas as postagens</h3>
        </div>
      </div>
    </div>
  </div>
</div>
