:host ::ng-deep .navbar {
  width: 100% !important;
}

.content-create {
  padding: 20px;
  width: 100%;
  max-width: 1280px;
  height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding-top: calc(var(--navbar-height) + 20px);
  flex-direction: column;
  text-align: left;
}

.content-markdown {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 300px;
  gap: 12px;
  grid-template-areas: "textarea textarea option";
}

.content-markdown.preview-show {
  grid-template-columns: 1fr 1fr 300px;
  grid-template-areas: "textarea preview option";
}

.content-markdown.option-hidden,
.content-markdown.preview-show.option-hidden {
  grid-template-columns: 1fr 1fr 40px;
  grid-template-areas: "textarea preview option";
}

.textarea {
  grid-area: textarea;
  height: 100%;
}

.preview {
  grid-area: preview;
  display: block;
}

.preview.d-none {
  display: none;
}

.options {
  grid-area: option;
  border-left: thin solid var(--nav-border);
  padding: 12px;
  overflow: hidden;
}

.title-bar-editor {
  font-weight: bold;
  letter-spacing: 0.16ch;
  font-size: var(--big-font-size);
}

.config-preview {
  margin: 13px 0px;
}

.btn-salvar {
  width: 100%;
  height: 32px;
  cursor: pointer;
  margin: 22px auto;
  display: block;
  background-color: var(--bg-btn);
  color: var(--color-btn);
  border: thin solid var(--input-border);
  border-radius: 7px;
  font-weight: bold;
  transition: filter 500ms ease-in-out;
}

.btn-salvar:hover {
  filter: brightness(1.50);
}

.btn-salvar:disabled {
  cursor: not-allowed;
}

.bi.bi-arrow-right-square-fill {
  transition: transform 200ms ease-in;
  display: inline-block;
  transform: rotate(0deg);
  cursor: pointer;
}
.bi.bi-arrow-right-square-fill.left {
  transition: transform 200ms ease-in;
  display: inline-block;
  transform: rotate(180deg);
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: var(--small-font-size);
  color: var(--text-primary);
}

.projetoReference {
  cursor: pointer;
}

.projetoReference,
.input-group input {
  height: 26px;
  margin: 6px 0 0 0;
  outline: none;
  border: thin solid var(--input-border);
  border-radius: 4px;
  padding: 0 5px;
}

pre {
  margin-top: 12px !important;
}
