/* primary ul */
.p-li div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 26px;
  width: 100%;
  height: 36px;
  cursor: pointer;
}

.p-li div #icon {
  font-size: calc(var(--normal-font-size) - 5px);
  transition: all 300ms ease-in-out;
}

.p-li div #icon.selected {
  transform: rotate(90deg);
}

.p-li div p {
  font-size: var(--normal-font-size);
  font-weight: bold;
  margin-left: var(--padding-default);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

/* secondary ul */
.s-ul {
display: none;
}

.s-ul.show {
  display: block;
  height: auto;
  animation-name: dropdown;
  animation-duration: 300ms;
}

.s-ul.close {
  visibility: hidden;
  position: absolute;
}

.s-ul .s-li div.selected {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 26px;
  width: 100%;
  background-color: var(--sidebar-selected);
  border-radius: 4px;
  height: 36px;
  cursor: pointer;
}

.s-ul .s-li div {
  background-color: transparent;
  cursor: pointer;
  margin-top: 3px;
}

.s-ul .s-li div #icon {
  font-size: calc(var(--normal-font-size) - 5px);
}

.s-ul .s-li div p {
  font-size: var(--small-font-size);
  font-weight: 400;
  transition: all 200ms ease-in;
  margin-left: calc(
    var(--padding-default) + calc(var(--normal-font-size) - 5px)
  );
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.s-ul .s-li div:hover p{
  color: var(--text-secondary);
}

.s-ul .s-li div p.selected {
  color: var(--text-brightness);
}

@keyframes dropdown {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}

@keyframes dropdown-reverse {
  0% { height: var(--dropdown-li);}
  100% { height: 0; }
}
