@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap');

@import 'highlight.js/styles/base16/hardcore.css';

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  width: 100%;
  margin: 10px auto;
}

:root {
  --big-font-size: 1.345rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --font-name: 'Poppins', sans-serif;
  --navbar-height: 70px;
  --padding-default: 8px;
  --dropdown-title-height: 31px;
  --padding-left-dropdown-li:  22px;
  --color-danger: #ca3d3d;
  --color-success: #2da32d;
  --color-warning: #ffff00;

  /* Theme Principal Dark */
  --text-title: #ffffff;
  --text-primary: #ced6d9;
  --text-secondary: #8895a7;
  --text-brightness: #1b6dff;
  --background: #03060b;
  --icon-color: #ffffff;
  --warning-slow: #241800;
  --warning-strong: #ffc409;
  --toggle-background:#ffffff;
  --nav-border: #2f2f2f;
  --sidebar-selected: #101317;
  --shadow-box: #555;

  --bg-sidebar-editor: #1a1a1a;
  --bg-text-area-editor: #252526;

  --input-border: #2f2f2f;
  --bg-btn: #1a1a1a;
  --color-btn: #ced6d9;

  --shadow-box-card-view: #f5f5f0;

  /* LOGIN */
  --loginBorderRadus: 0.25rem;
  --loginColor: #eee;
  --loginInputBackgroundColor: #3b4148;
  --loginInputHoverBackgroundColor: #434a52;
  --loginLabelBackgroundColor: #363b41;
  --loginSubmitBackgroundColor:#a01212;
  --loginSubmitColor: #eee;
  --loginSubmitHoverBackgroundColor: #631313;
  --formGap: 0.875rem;
  --htmlFontSize: 100%;
  --bodyBackgroundColor: #03060b;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: "Open Sans";
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
  --baseColor: #656666;
  --anchorColor: #eee;
  --iconFill: #eee;
}

html[data-theme="light"] {
  --text-title: #03060b;
  --text-primary: #445b78;
  --text-secondary: #445b78;
  --text-brightness: #1b6dff;
  --background: #fff;
  --icon-color: #006aff;
  --warning-slow: #fff8e2;
  --warning-strong: #ffc409;
  --nav-border: #2f2f2f46;
  --sidebar-selected: #f0f6ff;
  --shadow-box: #2c2727;

  --bg-sidebar-editor: #1a1a1a;
  --bg-text-area-editor: #252526;
  --color-text-area-editor: #ced6d9;

  --input-border: #2f2f2f46;

  --bg-btn: #a01212;
  --color-btn: #ced6d9;

  --shadow-box-card-view: #2c2727;

  --color-danger: #ca3d3d;
  --color-success: #2da32d;
  --color-warning: #b9b925;
}

html[data-theme="dark"] {
  --text-title: #ffffff;
  --text-primary: #ced6d9;
  --text-secondary: #8895a7;
  --text-brightness: #1b6dff;
  --background: #03060b;
  --icon-color: #ffffff;
  --warning-slow: #241800;
  --warning-strong: #ffc409;
  --toggle-background:#ffffff;
  --nav-border: #2f2f2f;
  --sidebar-selected: #101317;
  --shadow-box: #555;

  --bg-sidebar-editor: #1a1a1a;
  --bg-text-area-editor: #252526;
  --color-text-area-editor: #ced6d9;

  --input-border: #2f2f2f46;
  --bg-btn: #a01212;
  --color-btn: #ced6d9;

  --shadow-box-card-view: #f5f5f0;

  --color-danger: #ca3d3d;
  --color-success: #2da32d;
  --color-warning: #ffff00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--background);

  transition: .5s;
  font-family: var(--font-name);
  color: var(--text-primary);
}

ul {
  list-style: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.cursor-pointer {
  cursor: pointer;
}

.disabled-click {
  pointer-events: none;
}

.text-align-center {
  text-align: center;
}

.align-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-danger {
  color: var(--color-danger);
}

.small-success {
  color: var(--color-success);
}

.small-warning {
  color: var(--color-warning) !important;
}

.mr-2 {
  margin-right: 20px;
}
