@import "~bootstrap-icons/font/bootstrap-icons.css";

:root{
  --nav-width: 92px;

  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;

  /*===== z index =====*/
  --z-fixed: 100;

  /* ===== sidebar and navbar ==== */

}


html[data-theme="dark"] {
  --text-title: #ffffff;
  --text-primary: #ced6d9;
  --text-secondary: #8895a7;
  --text-brightness: #8895a7;
  --background: #03060b;
  --icon-color: #ffffff;
  --warning-slow: #241800;
  --warning-strong: #ffc409;
  --toggle-background:#ffffff;
}

html[data-theme="light"] {
  --text-title: #03060b;
  --text-primary: #445b78;
  --text-secondary: #445b78;
  --text-brightness: #1b6dff;
  --background: #fff;
  --icon-color: #92a0b3;
  --warning-slow: #fff8e2;
  --warning-strong: #ffc409;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}
