@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap');

:root {
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --font-name: 'Poppins', sans-serif;
  --navbar-height: 70px;
}

html[data-theme="light"] {
  --text-title: #03060b;
  --text-primary: #445b78;
  --text-secondary: #445b78;
  --text-brightness: #1b6dff;
  --background: #fff;
  --icon-color: #92a0b3;
  --warning-slow: #fff8e2;
  --warning-strong: #ffc409;
  --nav-border: #2f2f2f75;
}

html[data-theme="dark"] {
  --text-title: #ffffff;
  --text-primary: #ced6d9;
  --text-secondary: #8895a7;
  --text-brightness: #8895a7;
  --background: #03060b;
  --icon-color: #ffffff;
  --warning-slow: #241800;
  --warning-strong: #ffc409;
  --toggle-background:#ffffff;
  --nav-border: #2f2f2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #2d302c;

  transition: .5s;
  font-family: var(--font-name);
}

ul {
  list-style: none;
}
